/* gray */

$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

/* red */
$red: #e60019;
$pink: #ffcccc;

/* green */
$green: #00cc00;

/* blue */
$blue: #0e1273;
$light_blue: lighten( $blue, 30% );

/* purple */
$purple: #59569e;
$shikon: #400b36;
