@import 'colors';
@import 'dimensions';

.post-show-wrapper {
  margin: 10;

  .post {
    .title {
      font-size: $huge;
      font-weight: bold;
    }
  }

  .answers {
    margin: 5 auto;
  }
}

.gray-border {
  border: 1px solid $gray;
  border-radius: $small_radious;
  background-color: $light_gray;
}

.generic-form {
  margin: 5 auto;
}

.info {
  font-size: $normal;
}
